/build*
.venv

CMakeUserPresets.json

.vscode
.cache
.vs/
.idea/
*.bak
*.swp
*~
_ReSharper*
*.log

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.Trash-*
$RECYCLE.BIN/
.TemporaryItems
ehthumbs.db
Thumbs.db
